<div class="py-4 mb-2">
  <h3 class="d-inline-block">Edit DbsAdm</h3>
</div>

<%= formFor(dbsAdm, {action: dbsAdmPath({ dbs_adm_id: dbsAdm.ID }), method: "PUT"}) { %>
  <%= partial("dbs_adms/form.html") %>
  <%= linkTo(dbsAdmPath({ dbs_adm_id: dbsAdm.ID }), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
