<div class="py-4 mb-2">
  <h3 class="d-inline-block">DbsAdms</h3>
  <div class="float-end">
    <%= linkTo(newDbsAdmsPath(), {class: "btn btn-primary"}) { %>
      Create New DbsAdm
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>ID</th><th>Uid</th><th>NameF</th><th>NameS</th><th>Login</th><th>Description</th><th>CreatedBy</th><th>UpdatedBy</th><th>DeletedBy</th><th>Deleted</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (dbsAdm) in dbsAdms { %>
      <tr>
        <td class="align-middle"><%= dbsAdm.ID %></td><td class="align-middle"><%= dbsAdm.Uid %></td><td class="align-middle"><%= dbsAdm.NameF %></td><td class="align-middle"><%= dbsAdm.NameS %></td><td class="align-middle"><%= dbsAdm.Login %></td><td class="align-middle"><%= dbsAdm.Description %></td><td class="align-middle"><%= dbsAdm.CreatedBy %></td><td class="align-middle"><%= dbsAdm.UpdatedBy %></td><td class="align-middle"><%= dbsAdm.DeletedBy %></td><td class="align-middle"><%= dbsAdm.Deleted %></td>
        <td>
          <div class="float-end">
            <%= linkTo(dbsAdmPath({ dbs_adm_id: dbsAdm.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editDbsAdmPath({ dbs_adm_id: dbsAdm.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(dbsAdmPath({ dbs_adm_id: dbsAdm.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
