<div class="py-4 mb-2">
  <h3 class="d-inline-block">New DbsAdm</h3>
</div>

<%= formFor(dbsAdm, {action: dbsAdmsPath(), method: "POST"}) { %>
  <%= partial("dbs_adms/form.html") %>
  <%= linkTo(dbsAdmsPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
