<div class="py-4 mb-2">
  <h3 class="d-inline-block">DbsAdm Details</h3>

  <div class="float-end">
    <%= linkTo(dbsAdmsPath(), {class: "btn btn-info"}) { %>
      Back to all DbsAdms
    <% } %>
    <%= linkTo(editDbsAdmPath({ dbs_adm_id: dbsAdm.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(dbsAdmPath({ dbs_adm_id: dbsAdm.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">ID</label>
    <p class="d-inline-block"><%= dbsAdm.ID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Uid</label>
    <p class="d-inline-block"><%= dbsAdm.Uid %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">NameF</label>
    <p class="d-inline-block"><%= dbsAdm.NameF %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">NameS</label>
    <p class="d-inline-block"><%= dbsAdm.NameS %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Login</label>
    <p class="d-inline-block"><%= dbsAdm.Login %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= dbsAdm.Description %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">CreatedBy</label>
    <p class="d-inline-block"><%= dbsAdm.CreatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">UpdatedBy</label>
    <p class="d-inline-block"><%= dbsAdm.UpdatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">DeletedBy</label>
    <p class="d-inline-block"><%= dbsAdm.DeletedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Deleted</label>
    <p class="d-inline-block"><%= dbsAdm.Deleted %></p>
  </li>


</ul>
