<div class="py-4 mb-2">
  <h3 class="d-inline-block">Edit SvcGrp</h3>
</div>

<%= formFor(svcGrp, {action: svcGrpPath({ svc_grp_id: svcGrp.ID }), method: "PUT"}) { %>
  <%= partial("svc_grps/form.html") %>
  <%= linkTo(svcGrpPath({ svc_grp_id: svcGrp.ID }), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
