<div class="py-4 mb-2">
  <h3 class="d-inline-block">SvcGrps</h3>
  <div class="float-end">
    <%= linkTo(newSvcGrpsPath(), {class: "btn btn-primary"}) { %>
      Create New SvcGrp
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>ID</th><th>Gid</th><th>Name</th><th>Description</th><th>CreatedBy</th><th>UpdatedBy</th><th>DeletedBy</th><th>Deleted</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (svcGrp) in svcGrps { %>
      <tr>
        <td class="align-middle"><%= svcGrp.ID %></td><td class="align-middle"><%= svcGrp.Gid %></td><td class="align-middle"><%= svcGrp.Name %></td><td class="align-middle"><%= svcGrp.Description %></td><td class="align-middle"><%= svcGrp.CreatedBy %></td><td class="align-middle"><%= svcGrp.UpdatedBy %></td><td class="align-middle"><%= svcGrp.DeletedBy %></td><td class="align-middle"><%= svcGrp.Deleted %></td>
        <td>
          <div class="float-end">
            <%= linkTo(svcGrpPath({ svc_grp_id: svcGrp.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editSvcGrpPath({ svc_grp_id: svcGrp.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(svcGrpPath({ svc_grp_id: svcGrp.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
