<div class="py-4 mb-2">
  <h3 class="d-inline-block">New SvcGrp</h3>
</div>

<%= formFor(svcGrp, {action: svcGrpsPath(), method: "POST"}) { %>
  <%= partial("svc_grps/form.html") %>
  <%= linkTo(svcGrpsPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
