<div class="py-4 mb-2">
  <h3 class="d-inline-block">SvcGrp Details</h3>

  <div class="float-end">
    <%= linkTo(svcGrpsPath(), {class: "btn btn-info"}) { %>
      Back to all SvcGrps
    <% } %>
    <%= linkTo(editSvcGrpPath({ svc_grp_id: svcGrp.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(svcGrpPath({ svc_grp_id: svcGrp.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">ID</label>
    <p class="d-inline-block"><%= svcGrp.ID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Gid</label>
    <p class="d-inline-block"><%= svcGrp.Gid %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= svcGrp.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= svcGrp.Description %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">CreatedBy</label>
    <p class="d-inline-block"><%= svcGrp.CreatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">UpdatedBy</label>
    <p class="d-inline-block"><%= svcGrp.UpdatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">DeletedBy</label>
    <p class="d-inline-block"><%= svcGrp.DeletedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Deleted</label>
    <p class="d-inline-block"><%= svcGrp.Deleted %></p>
  </li>


</ul>
