<div class="py-4 mb-2">
  <h3 class="d-inline-block">Edit Group</h3>
</div>

<%= formFor(group, {action: groupPath({ group_id: group.ID }), method: "PUT"}) { %>
  <%= partial("groups/form.html") %>
  <%= linkTo(groupPath({ group_id: group.ID }), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
