<div class="py-4 mb-2">
  <h3 class="d-inline-block">Groups</h3>
  <div class="float-end">
    <%= linkTo(newGroupsPath(), {class: "btn btn-primary"}) { %>
      Create New Group
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>ID</th><th>Gid</th><th>Name</th><th>Description</th><th>CreatedBy</th><th>UpdatedBy</th><th>DeletedBy</th><th>Deleted</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (group) in groups { %>
      <tr>
        <td class="align-middle"><%= group.ID %></td><td class="align-middle"><%= group.Gid %></td><td class="align-middle"><%= group.Name %></td><td class="align-middle"><%= group.Description %></td><td class="align-middle"><%= group.CreatedBy %></td><td class="align-middle"><%= group.UpdatedBy %></td><td class="align-middle"><%= group.DeletedBy %></td><td class="align-middle"><%= group.Deleted %></td>
        <td>
          <div class="float-end">
            <%= linkTo(groupPath({ group_id: group.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editGroupPath({ group_id: group.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(groupPath({ group_id: group.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
