<div class="py-4 mb-2">
  <h3 class="d-inline-block">New Group</h3>
</div>

<%= formFor(group, {action: groupsPath(), method: "POST"}) { %>
  <%= partial("groups/form.html") %>
  <%= linkTo(groupsPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
