<div class="py-4 mb-2">
  <h3 class="d-inline-block">Group Details</h3>

  <div class="float-end">
    <%= linkTo(groupsPath(), {class: "btn btn-info"}) { %>
      Back to all Groups
    <% } %>
    <%= linkTo(editGroupPath({ group_id: group.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(groupPath({ group_id: group.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">ID</label>
    <p class="d-inline-block"><%= group.ID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Gid</label>
    <p class="d-inline-block"><%= group.Gid %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= group.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= group.Description %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">CreatedBy</label>
    <p class="d-inline-block"><%= group.CreatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">UpdatedBy</label>
    <p class="d-inline-block"><%= group.UpdatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">DeletedBy</label>
    <p class="d-inline-block"><%= group.DeletedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Deleted</label>
    <p class="d-inline-block"><%= group.Deleted %></p>
  </li>


</ul>
