<div class="py-4 mb-2">
  <h3 class="d-inline-block">Edit SvcAcc</h3>
</div>

<%= formFor(svcAcc, {action: svcAccPath({ svc_acc_id: svcAcc.ID }), method: "PUT"}) { %>
  <%= partial("svc_accs/form.html") %>
  <%= linkTo(svcAccPath({ svc_acc_id: svcAcc.ID }), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
