<div class="py-4 mb-2">
  <h3 class="d-inline-block">SvcAccs</h3>
  <div class="float-end">
    <%= linkTo(newSvcAccsPath(), {class: "btn btn-primary"}) { %>
      Create New SvcAcc
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>ID</th><th>Uid</th><th>Name</th><th>Description</th><th>CreatedBy</th><th>UpdatedBy</th><th>DeletedBy</th><th>Deleted</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (svcAcc) in svcAccs { %>
      <tr>
        <td class="align-middle"><%= svcAcc.ID %></td><td class="align-middle"><%= svcAcc.Uid %></td><td class="align-middle"><%= svcAcc.Name %></td><td class="align-middle"><%= svcAcc.Description %></td><td class="align-middle"><%= svcAcc.CreatedBy %></td><td class="align-middle"><%= svcAcc.UpdatedBy %></td><td class="align-middle"><%= svcAcc.DeletedBy %></td><td class="align-middle"><%= svcAcc.Deleted %></td>
        <td>
          <div class="float-end">
            <%= linkTo(svcAccPath({ svc_acc_id: svcAcc.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editSvcAccPath({ svc_acc_id: svcAcc.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(svcAccPath({ svc_acc_id: svcAcc.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
