<div class="py-4 mb-2">
  <h3 class="d-inline-block">New SvcAcc</h3>
</div>

<%= formFor(svcAcc, {action: svcAccsPath(), method: "POST"}) { %>
  <%= partial("svc_accs/form.html") %>
  <%= linkTo(svcAccsPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
