<div class="py-4 mb-2">
  <h3 class="d-inline-block">SvcAcc Details</h3>

  <div class="float-end">
    <%= linkTo(svcAccsPath(), {class: "btn btn-info"}) { %>
      Back to all SvcAccs
    <% } %>
    <%= linkTo(editSvcAccPath({ svc_acc_id: svcAcc.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(svcAccPath({ svc_acc_id: svcAcc.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">ID</label>
    <p class="d-inline-block"><%= svcAcc.ID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Uid</label>
    <p class="d-inline-block"><%= svcAcc.Uid %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= svcAcc.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= svcAcc.Description %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">CreatedBy</label>
    <p class="d-inline-block"><%= svcAcc.CreatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">UpdatedBy</label>
    <p class="d-inline-block"><%= svcAcc.UpdatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">DeletedBy</label>
    <p class="d-inline-block"><%= svcAcc.DeletedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Deleted</label>
    <p class="d-inline-block"><%= svcAcc.Deleted %></p>
  </li>


</ul>
