<div class="py-4 mb-2">
  <h3 class="d-inline-block">Edit DbsAcc</h3>
</div>

<%= formFor(dbsAcc, {action: dbsAccPath({ dbs_acc_id: dbsAcc.ID }), method: "PUT"}) { %>
  <%= partial("dbs_accs/form.html") %>
  <%= linkTo(dbsAccPath({ dbs_acc_id: dbsAcc.ID }), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
