<div class="py-4 mb-2">
  <h3 class="d-inline-block">DbsAccs</h3>
  <div class="float-end">
    <%= linkTo(newDbsAccsPath(), {class: "btn btn-primary"}) { %>
      Create New DbsAcc
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>ID</th><th>Uid</th><th>Name</th><th>Description</th><th>CreatedBy</th><th>UpdatedBy</th><th>DeletedBy</th><th>Deleted</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (dbsAcc) in dbsAccs { %>
      <tr>
        <td class="align-middle"><%= dbsAcc.ID %></td><td class="align-middle"><%= dbsAcc.Uid %></td><td class="align-middle"><%= dbsAcc.Name %></td><td class="align-middle"><%= dbsAcc.Description %></td><td class="align-middle"><%= dbsAcc.CreatedBy %></td><td class="align-middle"><%= dbsAcc.UpdatedBy %></td><td class="align-middle"><%= dbsAcc.DeletedBy %></td><td class="align-middle"><%= dbsAcc.Deleted %></td>
        <td>
          <div class="float-end">
            <%= linkTo(dbsAccPath({ dbs_acc_id: dbsAcc.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editDbsAccPath({ dbs_acc_id: dbsAcc.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(dbsAccPath({ dbs_acc_id: dbsAcc.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
