<div class="py-4 mb-2">
  <h3 class="d-inline-block">New DbsAcc</h3>
</div>

<%= formFor(dbsAcc, {action: dbsAccsPath(), method: "POST"}) { %>
  <%= partial("dbs_accs/form.html") %>
  <%= linkTo(dbsAccsPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
