<div class="py-4 mb-2">
  <h3 class="d-inline-block">DbsAcc Details</h3>

  <div class="float-end">
    <%= linkTo(dbsAccsPath(), {class: "btn btn-info"}) { %>
      Back to all DbsAccs
    <% } %>
    <%= linkTo(editDbsAccPath({ dbs_acc_id: dbsAcc.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(dbsAccPath({ dbs_acc_id: dbsAcc.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">ID</label>
    <p class="d-inline-block"><%= dbsAcc.ID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Uid</label>
    <p class="d-inline-block"><%= dbsAcc.Uid %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= dbsAcc.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= dbsAcc.Description %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">CreatedBy</label>
    <p class="d-inline-block"><%= dbsAcc.CreatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">UpdatedBy</label>
    <p class="d-inline-block"><%= dbsAcc.UpdatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">DeletedBy</label>
    <p class="d-inline-block"><%= dbsAcc.DeletedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Deleted</label>
    <p class="d-inline-block"><%= dbsAcc.Deleted %></p>
  </li>


</ul>
