<div class="py-4 mb-2">
  <h3 class="d-inline-block">Edit AdmAcc</h3>
</div>

<%= formFor(admAcc, {action: admAccPath({ adm_acc_id: admAcc.ID }), method: "PUT"}) { %>
  <%= partial("adm_accs/form.html") %>
  <%= linkTo(admAccPath({ adm_acc_id: admAcc.ID }), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
