<div class="py-4 mb-2">
  <h3 class="d-inline-block">AdmAccs</h3>
  <div class="float-end">
    <%= linkTo(newAdmAccsPath(), {class: "btn btn-primary"}) { %>
      Create New AdmAcc
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>ID</th><th>Uid</th><th>Name</th><th>Description</th><th>CreatedBy</th><th>UpdatedBy</th><th>DeletedBy</th><th>Deleted</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (admAcc) in admAccs { %>
      <tr>
        <td class="align-middle"><%= admAcc.ID %></td><td class="align-middle"><%= admAcc.Uid %></td><td class="align-middle"><%= admAcc.Name %></td><td class="align-middle"><%= admAcc.Description %></td><td class="align-middle"><%= admAcc.CreatedBy %></td><td class="align-middle"><%= admAcc.UpdatedBy %></td><td class="align-middle"><%= admAcc.DeletedBy %></td><td class="align-middle"><%= admAcc.Deleted %></td>
        <td>
          <div class="float-end">
            <%= linkTo(admAccPath({ adm_acc_id: admAcc.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editAdmAccPath({ adm_acc_id: admAcc.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(admAccPath({ adm_acc_id: admAcc.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
