<div class="py-4 mb-2">
  <h3 class="d-inline-block">New AdmAcc</h3>
</div>

<%= formFor(admAcc, {action: admAccsPath(), method: "POST"}) { %>
  <%= partial("adm_accs/form.html") %>
  <%= linkTo(admAccsPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
