<div class="py-4 mb-2">
  <h3 class="d-inline-block">AdmAcc Details</h3>

  <div class="float-end">
    <%= linkTo(admAccsPath(), {class: "btn btn-info"}) { %>
      Back to all AdmAccs
    <% } %>
    <%= linkTo(editAdmAccPath({ adm_acc_id: admAcc.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(admAccPath({ adm_acc_id: admAcc.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">ID</label>
    <p class="d-inline-block"><%= admAcc.ID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Uid</label>
    <p class="d-inline-block"><%= admAcc.Uid %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= admAcc.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= admAcc.Description %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">CreatedBy</label>
    <p class="d-inline-block"><%= admAcc.CreatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">UpdatedBy</label>
    <p class="d-inline-block"><%= admAcc.UpdatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">DeletedBy</label>
    <p class="d-inline-block"><%= admAcc.DeletedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Deleted</label>
    <p class="d-inline-block"><%= admAcc.Deleted %></p>
  </li>


</ul>
