<div class="py-4 mb-2">
  <h3 class="d-inline-block">Edit DbsGrp</h3>
</div>

<%= formFor(dbsGrp, {action: dbsGrpPath({ dbs_grp_id: dbsGrp.ID }), method: "PUT"}) { %>
  <%= partial("dbs_grps/form.html") %>
  <%= linkTo(dbsGrpPath({ dbs_grp_id: dbsGrp.ID }), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
