<div class="py-4 mb-2">
  <h3 class="d-inline-block">DbsGrps</h3>
  <div class="float-end">
    <%= linkTo(newDbsGrpsPath(), {class: "btn btn-primary"}) { %>
      Create New DbsGrp
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>ID</th><th>Gid</th><th>Name</th><th>Description</th><th>Environemnt</th><th>Permissions</th><th>CreatedBy</th><th>UpdatedBy</th><th>DeletedBy</th><th>Deleted</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (dbsGrp) in dbsGrps { %>
      <tr>
        <td class="align-middle"><%= dbsGrp.ID %></td><td class="align-middle"><%= dbsGrp.Gid %></td><td class="align-middle"><%= dbsGrp.Name %></td><td class="align-middle"><%= dbsGrp.Description %></td><td class="align-middle"><%= dbsGrp.Environemnt %></td><td class="align-middle"><%= dbsGrp.Permissions %></td><td class="align-middle"><%= dbsGrp.CreatedBy %></td><td class="align-middle"><%= dbsGrp.UpdatedBy %></td><td class="align-middle"><%= dbsGrp.DeletedBy %></td><td class="align-middle"><%= dbsGrp.Deleted %></td>
        <td>
          <div class="float-end">
            <%= linkTo(dbsGrpPath({ dbs_grp_id: dbsGrp.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editDbsGrpPath({ dbs_grp_id: dbsGrp.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(dbsGrpPath({ dbs_grp_id: dbsGrp.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
