<div class="py-4 mb-2">
  <h3 class="d-inline-block">New DbsGrp</h3>
</div>

<%= formFor(dbsGrp, {action: dbsGrpsPath(), method: "POST"}) { %>
  <%= partial("dbs_grps/form.html") %>
  <%= linkTo(dbsGrpsPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
