<div class="py-4 mb-2">
  <h3 class="d-inline-block">DbsGrp Details</h3>

  <div class="float-end">
    <%= linkTo(dbsGrpsPath(), {class: "btn btn-info"}) { %>
      Back to all DbsGrps
    <% } %>
    <%= linkTo(editDbsGrpPath({ dbs_grp_id: dbsGrp.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(dbsGrpPath({ dbs_grp_id: dbsGrp.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">ID</label>
    <p class="d-inline-block"><%= dbsGrp.ID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Gid</label>
    <p class="d-inline-block"><%= dbsGrp.Gid %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= dbsGrp.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= dbsGrp.Description %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Environemnt</label>
    <p class="d-inline-block"><%= dbsGrp.Environemnt %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Permissions</label>
    <p class="d-inline-block"><%= dbsGrp.Permissions %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">CreatedBy</label>
    <p class="d-inline-block"><%= dbsGrp.CreatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">UpdatedBy</label>
    <p class="d-inline-block"><%= dbsGrp.UpdatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">DeletedBy</label>
    <p class="d-inline-block"><%= dbsGrp.DeletedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Deleted</label>
    <p class="d-inline-block"><%= dbsGrp.Deleted %></p>
  </li>


</ul>
