<div class="py-4 mb-2">
  <h3 class="d-inline-block">Edit AdmGrp</h3>
</div>

<%= formFor(admGrp, {action: admGrpPath({ adm_grp_id: admGrp.ID }), method: "PUT"}) { %>
  <%= partial("adm_grps/form.html") %>
  <%= linkTo(admGrpPath({ adm_grp_id: admGrp.ID }), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
