<div class="py-4 mb-2">
  <h3 class="d-inline-block">AdmGrps</h3>
  <div class="float-end">
    <%= linkTo(newAdmGrpsPath(), {class: "btn btn-primary"}) { %>
      Create New AdmGrp
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>ID</th><th>Gid</th><th>Name</th><th>Description</th><th>CreatedBy</th><th>UpdatedBy</th><th>DeletedBy</th><th>Deleted</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (admGrp) in admGrps { %>
      <tr>
        <td class="align-middle"><%= admGrp.ID %></td><td class="align-middle"><%= admGrp.Gid %></td><td class="align-middle"><%= admGrp.Name %></td><td class="align-middle"><%= admGrp.Description %></td><td class="align-middle"><%= admGrp.CreatedBy %></td><td class="align-middle"><%= admGrp.UpdatedBy %></td><td class="align-middle"><%= admGrp.DeletedBy %></td><td class="align-middle"><%= admGrp.Deleted %></td>
        <td>
          <div class="float-end">
            <%= linkTo(admGrpPath({ adm_grp_id: admGrp.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editAdmGrpPath({ adm_grp_id: admGrp.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(admGrpPath({ adm_grp_id: admGrp.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
