<div class="py-4 mb-2">
  <h3 class="d-inline-block">New AdmGrp</h3>
</div>

<%= formFor(admGrp, {action: admGrpsPath(), method: "POST"}) { %>
  <%= partial("adm_grps/form.html") %>
  <%= linkTo(admGrpsPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
