<div class="py-4 mb-2">
  <h3 class="d-inline-block">AdmGrp Details</h3>

  <div class="float-end">
    <%= linkTo(admGrpsPath(), {class: "btn btn-info"}) { %>
      Back to all AdmGrps
    <% } %>
    <%= linkTo(editAdmGrpPath({ adm_grp_id: admGrp.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(admGrpPath({ adm_grp_id: admGrp.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">ID</label>
    <p class="d-inline-block"><%= admGrp.ID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Gid</label>
    <p class="d-inline-block"><%= admGrp.Gid %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= admGrp.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= admGrp.Description %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">CreatedBy</label>
    <p class="d-inline-block"><%= admGrp.CreatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">UpdatedBy</label>
    <p class="d-inline-block"><%= admGrp.UpdatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">DeletedBy</label>
    <p class="d-inline-block"><%= admGrp.DeletedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Deleted</label>
    <p class="d-inline-block"><%= admGrp.Deleted %></p>
  </li>


</ul>
