<div class="py-4 mb-2">
  <h3 class="d-inline-block">Users</h3>
  <div class="float-end">
    <%= linkTo(newUsersPath(), {class: "btn btn-primary"}) { %>
      Create New User
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>ID</th><th>Uid</th><th>NameF</th><th>NameS</th><th>Login</th><th>Description</th><th>CreatedBy</th><th>UpdatedBy</th><th>DeletedBy</th><th>Deleted</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (user) in users { %>
      <tr>
        <td class="align-middle"><%= user.ID %></td><td class="align-middle"><%= user.Uid %></td><td class="align-middle"><%= user.NameF %></td><td class="align-middle"><%= user.NameS %></td><td class="align-middle"><%= user.Login %></td><td class="align-middle"><%= user.Description %></td><td class="align-middle"><%= user.CreatedBy %></td><td class="align-middle"><%= user.UpdatedBy %></td><td class="align-middle"><%= user.DeletedBy %></td><td class="align-middle"><%= user.Deleted %></td>
        <td>
          <div class="float-end">
            <%= linkTo(userPath({ user_id: user.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editUserPath({ user_id: user.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(userPath({ user_id: user.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
