<div class="py-4 mb-2">
  <h3 class="d-inline-block">User Details</h3>

  <div class="float-end">
    <%= linkTo(usersPath(), {class: "btn btn-info"}) { %>
      Back to all Users
    <% } %>
    <%= linkTo(editUserPath({ user_id: user.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(userPath({ user_id: user.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">ID</label>
    <p class="d-inline-block"><%= user.ID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Uid</label>
    <p class="d-inline-block"><%= user.Uid %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">NameF</label>
    <p class="d-inline-block"><%= user.NameF %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">NameS</label>
    <p class="d-inline-block"><%= user.NameS %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Login</label>
    <p class="d-inline-block"><%= user.Login %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= user.Description %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">CreatedBy</label>
    <p class="d-inline-block"><%= user.CreatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">UpdatedBy</label>
    <p class="d-inline-block"><%= user.UpdatedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">DeletedBy</label>
    <p class="d-inline-block"><%= user.DeletedBy %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Deleted</label>
    <p class="d-inline-block"><%= user.Deleted %></p>
  </li>


</ul>
